*{
    font-family: Garamond;
}
.baner{
    background-color: rosybrown;
    color: white;
    text-align: center;
    padding: 10px;
}
.formularz{
    background-color: darksalmon;
    text-align: center;
    padding: 40px;
}
.glownyLewy, .glownyPrawy{
    background-color: darksalmon;
}
.glownySrodkowy{
    background-color: lightsalmon;
    height: 300px;
    width: 40%;
}
.stopka{
    background-color: rosybrown;
    color: white;
    text-align: center;
    padding: 30px;
}
ol{
    border: 2px solid rgb(205, 92, 92);
}
